@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h3>WELCOME TO JOEL'S MOVIE COLLECTION</h3>
    <br>
    <img src="~/joel.jpg" />
    <br />
    <br />
    <a class="text-dark" asp-controller="Movies" asp-action="Create">Add Movie Here</a>
</div>

