@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Watch My Podcasts!";
}
<div>
    <br />
    <h2>BACONSALE PODCASTS</h2>
    <br />
    <p>Click below to Listen to Joel Hilton talk about all his favorite movies. He will review them and leave GREAT suggestions for movie lovers everywhere!</p>
    <br />
    Click to watch <a href=" https://baconsale.com/">Here!</a>
</div>
